html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body, html {
  height: 100%;
  background: #17191C;
  color: #FFFFFF;
  line-height: 1.42;
  
}

body {
  margin: 0;
}

button {
	border: 0;
	cursor: pointer;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

b {
  color: #000000;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1142px;
  margin: 0 auto;
  
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  margin: 0;
}

.header__container {
  position: relative;
}

.hero__pic {
  position: absolute;;
}

.logo {
  display: block;
  position: absolute;
  width: 198px;
  height: 46px;
  top: 26px;
  left: 0;
}

.menu {
  position: absolute;
  top: 47px;
  left: 439px;
}

.contacts {
  position: absolute;
  top: 26.64px;
  right: 0;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 54px;
  height: 19px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
  line-height: 19px;
}

.menu__link:hover {
  color: #FF3D00;
  ;
}

.contacts {
  position: absolute;
  font-style: normal;
  text-align: right;
  top: 31.64px;
  right: 0%;
}

.contacts__taxt {
  color: #9a9a9a;
  font-size: 11px;
}

.contacts__phone {
  max-width: 191px;
  max-height: 35px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 26px;
  line-height: 35px;
}

.contacts__info {
  top: 60.14px;
  
 
  font-size: 13px;
  text-decoration: underline;
  color: #FF3D00;
}

.hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.hello__container {
  width: 100%;
  padding: 0;
  text-align: center;
  
}

.hello__title {
  font-size: 72px;
  font-weight: 800;
  line-height: 98px;
  margin-bottom: 17.5px;
  text-align: center;
  text-transform: uppercase;
}

.hello__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-bottom: 43.5px;
}

.button {
  display: inline-block;
  height: 55px;

  background: #FF3D00;
  border-radius: 35px;
  padding: 18px 54px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
}

.button--hello {
  width: 195px;
  margin-bottom: 233px;
}

.button:hover {
  background: #ff5500;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3)
}

.button--light {
  color: #ff5500;
  border: 2px solid #ff5500;
  background: #FFFFFF;
}

.button--light:hover {
  color: #FFFFFF;
  background: #ff5500;
}

.offers {
  margin-bottom: 180px;
}

.offers__item {
  position: relative;
  min-height: 476px;
  border-radius: 5px;
  background: #FFFFFF;
  display: inline-block;
  margin-right: 23px;
  width: 362px;
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__img {
  position: absolute;
  top: 36px;
  left: 29px;
}

.offers__content {
  position: absolute;
  margin: 36px 34px 53px 22px;
  color: #000000;
}

.offers__title {
  margin-top: 106px;
  height: 44px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 17px;

}

.offers__feature {
  display: inline-block;
  height: 41px;
  max-width: 102px;
  margin-right: 76px;
  color: #666666;
  line-height: 125%;
}

.offers__feature:last-child {
  max-width: 123px;
  margin-right: 0;
}

.offers__text {
  margin-top: 25px;
  margin-bottom: 0;
  max-width: 306px;
  max-height: 66px;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
  color: #666666;
}

.button--light {
  margin-top: 29px;
  margin-left: 2px;
  width: 198px;
}

.news {
  margin-bottom: 145px;
}

.section__title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 51px;
}

.news__item {
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-bottom: 53px;
}

.news__item:first-child {
  margin-right: 22px;
}

.news__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 30px;
  height: 140px;
}

.news__date {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 12,5px;
}

.news__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  margin-bottom: 5px;
}

.pagination {
  text-align: center;
}

.pagination__text, .pagination__list {
  display: inline-block;
  vertical-align: middle;
}

.pagination__text {
  margin-right: 25px;
}

.pagination__item {
  display: inline-block;
  vertical-align: middle;
}

.pagination__item--active .pagination__link {
  background: #ff5500;
}

.pagination__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.about {
  margin-bottom: 53px;
}

.about__img:before {
  display: inline-block;
  vertical-align: top;
  width: 490px;
  height: 505px;
}

.about__content {
  background: #FFFFFF;
  padding: 70px 202px 66px 81px;
  display: inline-block;
  vertical-align: top;
  width: 785px;
  border-radius: 5px;
  margin-left: 355px;
  margin-top: -405px;
  
}

.title--dark {
  font-weight: 800;
  font-size: 36px;
  color: #000000;
  margin-bottom: 37px;
}

.about__text {
  color: #060606;
  margin-bottom: 43px;
}

.about__text p {
  margin-bottom: 20px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

.footer__container {
  border-top: 1px solid #606060;;
  height: 152px;
  position: relative;
}

.menu--footer {
  left: 328px;
}

.social {
  position: absolute;
  top: 49px;
  right: 265px;
}

.social__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  text-decoration: none;
  height: 36px;
  width: 36px;
  background: center center no-repeat;
}

.social__item--icon--tg .social__link {
  background-image: url("./img/telegram.png");
}

.social__item--icon--tg .social__link:hover {
  background-image: url("./img/t-hover.png");
}