html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body, html {
  height: 100%;
  background: #17191C;
  color: #FFFFFF;
  line-height: 1.42;
  
}

body {
  margin: 0;
}

button {
	border: 0;
	cursor: pointer;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

b {
  color: #000000;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
	display: block;
  max-width: 100%;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1142px;
  margin: 0 auto;
  
}

.header {
  position: relative;
  margin: 0;
}

.hero__pic { 
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 15px;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
}

.logo {
  display: block;
  margin-right: 241px;
 }

.menu {
  display: block;
  padding-top: 5px;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin-top: 6px;
  vertical-align: middle;
  margin-right: 54px;
  height: 19px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
  line-height: 19px;
}

.menu__link:hover {
  color: #FF3D00;
  ;
}

.contacts {
  font-style: normal;
  text-align: right;
  padding-top: 8px;
}

.contacts__taxt {
  color: #9a9a9a;
  font-size: 11px;
}

.contacts__phone {
  max-width: 191px;
  max-height: 35px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 26px;
  line-height: 35px;
}

.contacts__info {
  line-height: 0.6;
  margin-right: 3px;
  font-size: 13px;
  text-decoration: underline;
  color: #FF3D00;
}

.hello {
  margin-bottom: 198px;
}

.hello__container {
  position: relative;
  min-height: 512px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.hello__title {
  font-size: 72px;
  font-weight: 800;
  line-height: 98px;
  padding-top: 110px;
  margin-bottom: 18px;
  text-align: center;
  text-transform: uppercase;
}

.hello__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-bottom: 43.5px;
}

.button {
  display: flex;
  height: 55px;

  background: #FF3D00;
  border-radius: 35px;
  padding: 18px 54px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.button--hello {
  width: 195px;
}

.button:hover {
  background: #ff5500;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3)
}

.button--light {
  color: #ff5500;
  border: 2px solid #ff5500;
  background: #FFFFFF;
  line-height: 1;
}

.button--light:hover {
  color: #FFFFFF;
  background: #ff5500;
}

.offers {
  margin-bottom: 179px;
}

.offers__list {
  display: flex;
  justify-content: space-between;
}

.offers__item {
  position: relative;
  min-height: 476px;
  border-radius: 5px;
  background: #FFFFFF;
  width: calc(100% / 3 - 18px);
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__img-ad {
  position: absolute;
  top: 36px;
  left: 29px;
}

.offers__img-clip, .offers__img-wedding {
  position: absolute;
  top: 40px;
  left: 29px;
}

.offers__content {
  position: absolute;
  margin: 36px 34px 53px 22px;
  color: #000000;
}

.offers__title {
  margin-top: 110px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 17px;

}

.offers__features {
  display: flex;
  justify-content: space-between;
}

.offers__feature {
  max-width: 102px;
  color: #666666;
  line-height: 125%;
}

.offers__feature:last-child {
  max-width: 123px;
}

.offers__text {
  margin-top: 25px;
  margin-bottom: 0;
  max-width: 306px;
  max-height: 66px;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
  color: #666666;
}

.button--light {
  margin-top: 30px;
  margin-left: 2px;
  width: 198px;
}

.news {
  margin-bottom: 145px;
}

.section__title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 52px;
  text-transform: uppercase;
  line-height: 49.03px;
}

.news__list {
  display: flex;
  justify-content: space-between;
}

.news__item {
  width: 557px;
  vertical-align: top;
  position: relative;
  margin-bottom: 53px;
}

.news__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 30px;
  height: 140px;
}

.news__date {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 12px;
}

.news__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  margin-bottom: 5px;
}

.news__text {
  width: 442px;
  height: 42px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}


.pagination__text {
  margin-right: 20px;
}

.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__item {
  text-align: center;
}

.pagination__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.pagination__link:hover {
  background: #ff5500;
  color: #FFFFFF;
}

.about {
  position: relative;
  margin-bottom: 102px;
}

.bottom__pic {
  position: absolute;
  z-index: -1;
  top: -80%;
  width: 100%;
}

.about__img:before {
  display: block;
  position: relative;
  width: 490px;
  height: 505px;
}

.about__content {
  position: absolute;
  min-height: 455px;
  background: #FFFFFF;
  padding: 68px 202px 66px 81px;
  display: flex;
  flex-direction: column;
  max-width: 785px;
  border-radius: 5px;
  margin-left: 354px;
  margin-top: -408px;
  
}

.title--dark {
  font-weight: 800;
  font-size: 36px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 37px;
}

.about__text {
  color: #060606;
  margin-bottom: 43px;
  line-height: 27px;
}

.about__text p {
  margin-bottom: 20px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

.button--about {
  width: 168px;
  background: #FF5400;
  padding: 18px 40px;
}

.footer__container {
  border-top: 1px solid #606060;;
  position: relative;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  align-items: flex-end;
}

.logo--footer {
  padding-top: 2px;
  margin-right: 130px;
}

.menu--footer {
  left: 328px;
}

.social {
  display: flex;
  margin-right: 74px;
  padding-bottom: 11px;
}

.social__item {
  vertical-align: middle;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  text-decoration: none;
  height: 36px;
  width: 36px;
  background: center center no-repeat;
}

.social__item--icon--tg .social__link {
  background-image: url("../img/telegram.png");
}

.social__item--icon--tg .social__link:hover {
  background-image: url("../img/t-hover.png");
}

.social__item--icon--vk .social__link {
  background-image: url("../img/vk.png");
}

.social__item--icon--vk .social__link:hover {
  background-image: url("../img/vk-hover.png");
}

.social__item--icon--f .social__link {
  background-image: url("../img/f.png");
}

.social__item--icon--f .social__link:hover {
  background-image: url("../img/f-hover.png");
}

.social__item--icon--in .social__link {
  background-image: url("../img/in.png");
}

.social__item--icon--in .social__link:hover {
  background-image: url("../img/in-hover.png");
}

.contacts--footer {
  padding-top: 10px;
}


/* Services */


.top-line {
  background: url("../img/top-line.jpg") right 50% top no-repeat;
}

.top-line__container {
  min-height: 416px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}  

.page-title {
  font-size: 72px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.3;
  margin-bottom: 0px;
  margin-top: 22px;
}

.breadcrumbs {
  margin-bottom: 25px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__item, .breadcrumbs__item--active {
  display: flex;
  align-items: center;
}

.breadcrumbs__item--active .breadcrumbs__link {
  font-weight: 700;
}

.breadcrumbs__item:after {
  content: "/";
  color: #9A9A9A;
  margin: 0 4px;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link {
  font-size: 14px;
  color: #9A9A9A;
  text-decoration: underline;
}

.page-content {
  background:#FFFFFF;
  color: #303030;
  padding: 45px 0;
}

.services {
  margin-bottom: 63px;
}

.service {
  display: flex;
  margin: 50px 0;
}

.service__img {
  width: 42%;
  margin-right: 3%;
}

.service__content {
  max-width: 652px;
  flex: 1;
  padding-left: 3px;
}

.service__title {
  font-size: 36px;
  font-weight: 700;
  margin: 10px 0 29px;
  color: #000000;
}

.service__desc {
  line-height: 1.7;
  margin-bottom: 33px;
}

.button--service {
  margin: 0;
}

.services__pagination {
  margin-bottom: 40px;
}

.partners {
  background: #F4F5F5;
  color: #1A1B1E;
  padding: 88px 0;
}

.partners__title {
  font-size: 48px;
  line-height: 65px;
  font-weight: 700;
  margin-bottom: 60px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 9px 0;
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 206px;
  height: 100px;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
}

.partners__link:hover {
  filter: grayscale(0);
}

/* Reviews */

.reviews {
  display: flex;
}

.reviews__list {
  margin: 51px 27px 57px 0;
  display: flex;
  flex-direction: column;
}

.reviews__item {
  background-color: #F4F5F5;
  min-width: 557px;
  display: flex;
  flex-direction: column; 
  margin-bottom: 17px; 
}



.reviews__item__header {
  margin: 50px 28px 27px;
  display: flex;
  align-items: center;
}

.reviews__img {
  height: 142px;
  width: 142px;
  border-radius: 50%;
  margin-right: 22px;
}

.reviews__card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.reviews__name {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.7;
  color: #1A1B1E;
  margin-right: 10px;
}

.reviews__name:hover {
  color: #2E77A4;
  text-decoration: underline;
}

.reviews__vk-logo {
  margin-bottom: 5px;
}

.choice {
  margin-top: 3px;
  background-color: #F2D4C9;
  padding: 10px 25px;
  border-radius: 35px;
  font-size: 13px;
}

.reviews__item__content {
  margin: 0 31px 32px;
}

.reviews__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 13px;
  color: #202020;
}

.reviews__desc {
  line-height: 1.6;
  color: #818181;
  margin-bottom: 57px;
}

.reviews__date {
  font-size: 14px;
  line-height: 1.9;
  color: #1A1B1E;
  font-weight: 600;
}

.sale {
  background: url("../img/party.png") right 15% top no-repeat;
  background-color: #373737;
}

.sale__container {
  min-height: 363px;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sale__title {
  max-width: 553px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3;
}

.sale__color {
  color: #FF5400;
}

.inner-section {
  background: #F4F5F5;
  padding: 79px 0 70px;
}

.inner-section__title {
  font-size: 36px;
  font-weight: 800;
  line-height: 1.3;
  text-transform: uppercase;
  color: #202020;
  margin-bottom: 56px;
}

.form__row {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.form__input {
  background-color: #FFFFFF;
  padding: 19px 30px 21px;
  font-size: 18px;
  line-height: 1.4;
  border: 1px solid transparent;
  flex: 1;
  margin-right: 28px;
  border-radius: 5px;
}

.form__input:last-child {
  margin-right: 0;
}

.form__input:focus {
  outline: none;
  border-color: #ff5500 ;
}

.form__input::placeholder {
  color: #666666;
}

.form__input--textarea {
  height: 235px;
  resize: none;
}

.form__controls {
  margin-bottom: 23px;
  align-items: flex-start;
}

.form__controls-title {
  font-size: 18px;
  line-height: 1.3;
  color: #1A1B1E;
  width: 35%;
  margin-right: 40px;
  padding-top: 15px;
}

.form__controls-list {
  flex: 1;
  color: #303030;
}

.form__row--buttons {
  justify-content: flex-end;
  gap: 13px;
}

.control {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.control__elem {
  position: relative;
}

.control__tag {
  margin-top: 3px;
  background-color: #e7e7e7;
  padding: 9px 16px;
  border-radius: 35px;
  font-size: 13px;
}

.control__checkbox:checked + .control__tag {
  background-color: #F2D4C9;
}

.control__checkbox {
  appearance: none;
  -ms-progress-appearance: none;
  position: absolute;
}

.button--black {
  display: flex;
  width: 168px;
  background: #8E8E8E;
}

.button--red {
  width: 168px;
}