.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__text {
  margin-right: 20px;
}

.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__item {
  text-align: center;
}

.pagination__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
  transition: .3s;
}

.pagination__link:hover {
  background: #ff5500;
  color: #FFFFFF;
}