.sale {
  background: url("../../img/party.png") right 15% top no-repeat;
  background-color: #373737;
}

.sale__container {
  min-height: 363px;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sale__title {
  max-width: 553px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3;
}

.sale__color {
  color: #FF5400;
}